body
{
    background: #ecf0f5 !important;
}


/*start navbar*/
.navbar
{
    background-color: #1F2D3D !important;

}

nav .navbar-brand
{
    
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

nav .navbar-brand .logo-color
{
    color: rgb(0,95,213);
    font-weight: 400
}

@media (min-width:1024px)
{
    nav ul li
    {
        margin-right: 20px;
    }

}
/*end navbar*/




/*start of poll section*/




.poll
{
    margin-top: 75px;
    
    direction: rtl;
}

.poll .container
{
    background: #FFF;
    padding: 50px 40px;
    color: #1F2D3D;
}




/*discription style*/
.poll h2
{
    margin-bottom: 50px;
    
}

.poll .instruction
{
    border: 2px solid #1F2D3D;
    border-radius: 15px;
    padding: 20px 15px;
    text-align: right;
}

.poll .instruction .h5
{
    margin-bottom: 10px;
    float: right;
    display: block;
}
.poll .instruction .row p
{
    float: right;
    
}

.poll .instruction .row p:first-child
{
    margin-bottom: 10px;
    margin-left: 30px;
}

.poll .instruction .row p .num
{
    width: 20px;
    height: 20px;
    color: #FFF;
    border-radius: 50%;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #1F2D3D;
	background: #1F2D3D;
	box-sizing: content-box;
}

/***************************************************/
.poll .subject-data
{
    border: 2px solid #1F2D3D;
    border-radius: 15px;
    padding: 20px 15px;
    text-align: right;
}

.poll .subject-data .h5
{
    margin-bottom: 10px;
    float: right;
    display: block;
}
.poll .subject-data .row p
{
    float: right;
    
}

.poll .subject-data .row p:first-child
{
    margin-bottom: 10px;
    margin-left: 30px;
}

.poll .subject-data .row p .num
{
    color: #1F2D3D;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}





.poll-form
{
    margin-top: 40px;
}
.poll-form li
{
    margin-bottom: 15px;
    list-style: none;
}

.poll-form li p,.poll-form u
{
    float: right;
    display: block; 
    text-align: right;
}

 label 
{
	display: inline-block;
	padding: 5px;
	position: relative;
	padding-left: 20px;
}

label input[type="radio"] 
{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

label .sradio
{
	border: 2px solid #DDD;
	background: #EEE;
	color: #000;
	width: 22px;
	height: 22px;
	position: absolute;
	overflow: hidden;
	line-height: 1;
	text-align: center;
	border-radius: 100%;
	font-size: 13pt;
	left: 0;
	top: 50%;
	margin-top: -7.5px;
}

input:checked + .sradio
{
	background: #1F2D3D;
	border-color: #1F2D3D;
	color: #ffffff;
}


.poll-form textarea
{
    border: 1px solid #1F2D3D;
    resize: none;
    width: 50%;
}

.poll-form hr
{
    background-color: #1F2D3D
}

.poll-form #sub-button
{
    display: block;
    margin:30px auto;
    width:200px;
    border: none;
    height: 40px;   
    font-size: 12px;
    font-size: 14px;
    border-radius: 5px;
    color: #fff;
    background-color: #3E8CE5;
    border-color: #3E8CE5;

}


#up-button
{
    position: fixed;
    bottom: 60px;
    left: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: rgba(41, 128, 226,.9);
    color: #FFF;
    cursor: pointer;
    z-index: 99999;
}
#down-button
{
    position: fixed;
    bottom: 10px;
    left: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: rgba(41, 128, 226,.9);
    color: #FFF;
    cursor: pointer;
    z-index: 99999;
}











@media (max-width:500px)
{
    .poll h2
    {
        font-size: 25px;
    }
    
    .poll-form ul
    {
        padding-right: 5px;
    }
    .poll-form ul li p
    {
        margin-bottom: 10px;
    }
    
    .poll-form .btn-group
    {
        margin-bottom: 25px;
    }
    
    .poll-form textarea
    {
        width: 100%;
    }

    #up-button,#down-button
    {
        left: 5px;
    }
  
    .poll .instruction
    {
        margin-bottom: 20px;
    }
    
    .poll .instruction ul,
    .poll .subject-data ul
    {
        padding-right: 5px;
    }
}
    

/*end of poll section*/






















