/*start navbar*/
.navbar
{
    background-color: #1F2D3D !important;

}

nav .navbar-brand
{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px
}

@media (min-width:1024px)
{
    nav ul li
    {
        margin-right: 20px;
    }

}
/*end navbar*/




/*start of subjects section*/

.subjects
{
    margin-top:76px;
    padding-top: 30px;
    direction: rtl;
    text-align: right
}



.subjects h2
{

    color: #FFF;
    background: rgba(0,0,0,0.4);
    padding: 10px;
    width: 250px;
    display: block;
    margin: 0px auto 50px;
    border-radius: 5px;
}

.subjects table
{
    width: 100%;
    margin-top: 30px;
}

.subjects table td
{
    padding: 10px;
}

.subjects table a
{
    color: #000;
    text-decoration: none;
}


/*end of subjects section*/


/*start of buttons section*/
.buttons
{
	margin-bottom: 20px;
	direction: ltr;
}
.buttons .btn
{
	width: 150px;
}
/*end of buttons section*/



/*mobile screen edits*/
@media (max-width:498px)
{
	.buttons .btn
	{
		margin-bottom: 20px;
	}
}


/*print media*/

@media print {
    .subjects {
        margin-top: 0;
    }

}
